<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>CO2 Emission Predictor</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>
  <div class="login">
    <h1>Create status reports from Trello Boards </h1>
    <h3> Select a single status report or run all status reports</h3>

    <!-- Main Input -->
    <input type="text" name="enginesize" placeholder="Engine Size" required="required" />
    <input type="text" name="cylinders" placeholder="Cylinders" required="required" />
    <input type="text" name="fuel" placeholder="Fuel" required="required" />

  </div>


</body>

</html>